
*~
build/
compiled/
**/.idea/**/*
!.idea/codeStyleSettings.xml
*.iml
*.jar
.lein-deps-sum
.lein-failures
.lein-plugins/
.lein-repl-history
*.log
node_modules/
.nrepl-port
out/
package.json
package-lock.json
pom.xml
pom.xml.asc
resources/public/js/
.shadow-cljs/
shadow-cljs.edn
target
target/
